<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pojisteni</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pojisteni.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Users" asp-action="Index"><img src="~/images/logo.png" alt="" width="60" height="60"></a>
                <a class="navbar-brand" asp-controller="Users" asp-action="Index">PojištěníApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Users" asp-action="Index">Pojištěnci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Insurances" asp-action="Index">Pojištění</a>
                        </li>                        
                    </ul>                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>        
    </header>

    <div class="container pt-5">
        <main role="main" class="mt-5 pt-5">           
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Pojištění - <a asp-area="" asp-controller="Home" asp-action="Podminky">Obchodní podmínky</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
